.App {
  min-height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LanguageSelector {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.LanguageSelector .flag {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 175ms ease-in-out;
}
.LanguageSelector .flag:not(:last-child) {
  margin-right: 0.4em;
}

.LanguageSelector .flag.active {
  opacity: 1;
}
