.App {
  min-height: 100vh;
  width: 100vw;
  background-color: #282c34;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LanguageSelector.flag {
  cursor: pointer;
}
.LanguageSelector.flag:not(:last-child) {
  margin-right: 0.4em;
}
